/*-------app specific--------*/

.hot {
    background-color: #fff3e0 !important;
}

.favoriteListItem {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.hot:active {
    background-color: #ffe0b2 !important;
}


#vacancyDetailContainer {
    margin-bottom: 50px;
}

#headerSearch {
    margin-bottom: 5px;
}

.companyImage {
    max-width: 100px;
}
@media screen and (max-width:740px) {
    .companyImage {
        max-width: 200px;
    }
}

