/*---common layout-----*/

html,
body,div {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    background-color: #fafafa;
    position: relative;
    z-index: 10;
}

body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    z-index:1;
    line-height: 12px;
}

main {
    overflow-y: auto;
    overflow-x: hidden;
}


footer {
    position: relative;
    z-index:10;
    background-color: #fafafa;
}


#subHeader,#subFooter {
    padding: 0 0;
    position:relative;
    z-index: 8;
    background-color: white;
}

#subHeader {
    left:0;
    right:0;
}

#subFooter {
    left: 0;
    right: 0;
    bottom: 0;
}

select {
    border: none;
    border-bottom: 1px solid grey;
    background-color: #fcfcfc;
    padding: 8px 10px;
    color:#888;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    appearance:none;
    border-radius: 0;
    width: 100%;
}

.selectHandle {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 10px solid grey;
    border-left: 10px solid transparent;
}

.inputWrapper {
    border: none;
    border-bottom: 1px solid grey;
}

input.force-redraw {
    text-shadow: none;
}

@media screen and (min-width: 740px) {

    body {
        line-height: 20px;
    }

    .mid {
        font-size: 20px;
    }

    .midPlus {
        font-size: 21px;
    }

    .small {
        font-size: 12px;
    }
}

/*---framework specific----*/
.page {
    display: none;
}

.page.active {
    display: block;
}

.autocompleteListWrapper {
    background-color: white;
    z-index: 20000;
    position: relative;
}

.autocompleteList {
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
    width: 80%;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    font-size: 15px;
}


.autocompleteItem {
    margin: 20px 8px;
}

.commonListContainer {
    position: relative;
}

.commonListHeader {

}

.commonList {
    position: relative;
    z-index: 5;
}

.commonLine {
    padding: 15px;
}

.firstListItemCellChild {
    padding-left: 15px;
}

.lastListItemCellChild {
    padding-right: 15px;
}


.commonListItem {
    outline: 1px solid #F7F7F7;
}

.commonListItem:active {
    background-color: #fafafa;
}

.inputWrapper.active {
    border-bottom: 1px solid green;
}

.withMaxWidth {
    max-width: 450px;
}

.frmTable {
    border-collapse: collapse;
}

.frmTable .tableCell {
    padding-top: 10px;
}


.underlined {
    border-bottom: 1px solid #bdbdbd;
}

.underlined.active {
    border-bottom: 1px solid green;
}

.underlined.error {
    border-bottom: 1px solid red;
}

.frmBtn {
    margin-top: 30px;
    padding: 10px;
}

.dialog {
    display: none;
    position: absolute;
    z-index:200;
    top: 100px;
    width: 100%;
}

.withTransitionAll {
    -webkit-transition: all 0.3s ease;
}

.dialogContent {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.dialogContent button,.dialogButton {
    background-color: white;
    color: #e65100;
}

.dialogContent button:active,.dialogButton:active {
    background-color: rgba(0,0,0,0.1);
}

.searchIconGreyWrapper {
    margin-right: 5px;
}

.iconText {
    color: #484848;
}

.iconWrapper:active .iconText {
    color: #3a3a3a;
}

.iconWrapper .iconCommon {
    display: inline-block;
}

.iconWrapper .iconSelected {
    display: none;
}

.selected .iconSelected {
    display: inline-block;
}

.selected .iconCommon {
    display: none;
}

.selected .iconText {
    color:#f47b2a;
}

.iconWrapper:active .iconCommon{
    display: none;
}

.iconWrapper .iconActive {
    display: none;
}

.iconWrapper:active .iconActive{
    display: inline-block;
}

.selected:active .iconActive{
    display: none;
}


/*-----buttons-------*/

a.commonLink,a.commonLink:active,a.commonLink:visited {
    color: #1a88e5;
}

button {
    outline: none;
    font-weight: bold;
}

a,a:active,a:visited {
    text-decoration: none;
}

button,.asButton {
    background-color: #f57c00;
    border: none;
    color:white;
}

.asButton {
    text-align: center;
}

a.asButton:visited {
    color:white;
}

button {
    font-weight: bold;
}

button:active,.asButton:active {
    background-color: #e65100;
}

button.asGreenButton,.asButton.asGreenButton {
    border: 1px solid #66bb6a;
    color:#66bb6a;
    background-color: white;
}

a.asButton.asGreenButton:visited {
    color:#66bb6a;
}

button.asGreenButton:active,.asButton.asGreenButton:active {
    background-color: #66bb6a;
    color:white !important;
}

.asButton.asGreyButton {
    background-color: white;
    color: #1a88e5;
}

a.asButton.asGreyButton:visited {
    color: #1a88e5;
}

.asButton.asGreyButton:active {
    background-color: #fafafa;
}

button, input[type=text],input[type=password],input[type=email],input[type=number],textarea {
    display: inline-block;
    margin: 0 auto;
    text-overflow: ellipsis;
}

textarea {
    resize: none;
}

textarea:disabled {
    color:black;
}

textarea::-webkit-scrollbar {
    width: 1px;
    height: 15px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}
textarea::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 1px solid #eee;
}

textarea::-webkit-scrollbar-track {
    width: 1px;
}

textarea.fullScreen {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

input[type=text],input[type=password],input[type=email],input[type=number],textarea {
    background: none;
    border: none;
    outline: none;
    width: 95%;
    margin: 8px 0;
}

.validationBubbleHandler {
    border-top: none;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid red;
    top: 20px;
}

.validationErrorWrapper {
    position: absolute;
    bottom: 18px;
    right: -20px;
}

.validationErrorContainer {
    color:red;
    padding:5px;
    background-color: white;
    border: 1px solid red;
    top: 30px;
    min-width: 200px;
    text-align: right;
}

.underlined.error input::-webkit-input-placeholder {
    color:#c0392b;
}

.underlined.error input {
    color:red;
}

.shadowedBottom {
    height: 100px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.64) 0%, #FFFFFF 100%);
}

.boxShadowDown {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.boxShadowUp {
    box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
}

.line-in-mid {
    position: relative;
}

.line-in-mid:after {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 5;
    height: 1px;
    background: #c3c6cc;
    content: "";
    width: 100%;
    display: block;
}

.line-in-mid-content {
    position: relative;
    z-index: 10;
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
}

.hideCarret {
    color : transparent;
    text-shadow : 0 0 0 #000;
}

.hideCarret::-webkit-input-placeholder {
    color:transparent;
}
