<%include includes/header.html%>


<h1><%=i18n.enter%></h1>
<form id="authForm">
    <table class="centered">
        <tr>
            <td>
                <span class="red" id="message"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input name="email" id="email" type="email" placeholder="<%=i18n.email%>"/>
            </td>
        </tr>
        <tr>
            <td>
                <input name="password" id="pass" type="password" placeholder="<%=i18n.pass%>"/>
            </td>
        </tr>
        <tr>
            <td>
                <button id="enter">
                    <%=i18n.enter%>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <a href=""><%=i18n.registration%></a>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">

$(function(){

    $(document).on('click','#enter',function(e){
        e.preventDefault();
        if (!($('#pass').val() && $('#email').val())) {
            $('#message').html('<%=i18n.notAllFields%>');
            return;
        }
        $.get('/auth',$('#authForm').serialize(),function(data){
            if (!data.success) {
                $('#message').html(data.message);
            } else {
                location.href='/admin';
            }
        });
    });

});

</script>

<%include includes/footer.html%>