<%include includes/header.html%>


<h1>User activation</h1>
<table>
    <%for (var index in users) {%>
    <%var user=users[index];%>
    <tr data-id="<%=user.id%>">
       <td>
           <%=user.id%>
       </td>
       <td>
           <%=user.name%>
       </td>
       <td>
           <input type="checkbox"/>
       </td>
       <td>
           <select>
               <option value="admin">admin</option>
               <option value="doctor">doctor</option>
               <option value="doctorAssistant">doctorAssistant</option>
           </select>
       </td>
       <td>
           <button>save</button>
       </td>
    </tr>
    <%}%>
</table>



<%include includes/footer.html%>