<%include includes/header.html%>

<h1><%=i18n.userActivation%></h1>
<div id="result" class="centerAligned"></div>
<table>
    <tr>
        <th>
            <%=i18n.number%>
        </th>
        <th>
            <%=i18n.user%>
        </th>
        <th>
            <%=i18n.role%>
        </th>
        <th>
            <%=i18n.isActive%>
        </th>
        <th>
            <%=i18n.department%>
        </th>
        <th>
            <%=i18n.actions%>
        </th>
    </tr>
    <%for (var index in users) {%>
    <%var user=users[index];%>
    <tr data-id="<%=user.id%>">
       <td>
           <%=user.id%>
       </td>
       <td>
           <input data-field="name" type="text" value="<%=user.name%>"/>
       </td>
       <td>
           <%var isChecked=user.active==1?'checked':'';%>
           <input data-field="active" type="checkbox" <%=isChecked%>/>
       </td>
       <td>
           <select data-field="userRoleId">
               <%for (var roleIndex in allUserRoles) {%>
               <%var userRole = allUserRoles[roleIndex];%>
               <%var roleSelected=userRole.id==user.roleId?'selected="selected"':'';%>
               <option <%=roleSelected%> value="<%=userRole.id%>"><%=userRole.desc%></option>
               <%}%>
           </select>
       </td>
        <td>
            <select data-field="departmentId">
                <%allDepartments.forEach(function(d){%>
                    <%var selected=d.id==user.departmentId?'selected="selected"':'';%>
                    <option <%=selected%> value="<%=d.id%>"><%=d.name%></option>
                <%})%>
            </select>

        </td>
       <td>
           <button data-action="updateUser"><%=i18n.save%></button>
       </td>
    </tr>
    <%}%>
</table>

<script type="text/javascript">

    $(function(){

        $(document).on('click', '[data-action=updateUser]', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var parentRow = $(this).closest('tr');
            var options = {
                id: parentRow.data('id'),
                name: parentRow.find('[data-field="name"]').val(),
                active: parentRow.find('[data-field=active]').get(0).checked ? 1 : 0,
                userRoleId: parentRow.find('[data-field=userRoleId]').val(),
                departmentId: parentRow.find('[data-field=departmentId]').val()
            };
            $.get('/updateUser',options,function(data){
                $('#result').html(data.message);
            });
        })

    });

</script>


<%include includes/footer.html%>