<%include ../includes/header.html%>

<h1><%=i18n.departments%></h1>
<div class="centerAligned" id="result"></div>
<table>
    <tr>
        <th>
            <%=i18n.number%>
        </th>
        <th>
            <%=i18n.departmentName%>
        </th>
        <th>
            <%=i18n.actions%>
        </th>
    </tr>
    <%departments.forEach(function(d){%>
        <tr data-id="<%=d.id%>">
            <td>
                <%=d.id%>
            </td>
            <td>
                <textarea><%=d.name%></textarea>
            </td>
            <td>
                <button data-action="updateDepartment"><%=i18n.save%></button>
            </td>
        </tr>
    <%});%>
</table>

<a href="/addDepartmentForm">
    <%=i18n.addDepartment%>
</a>

<script type="text/javascript">

    $(function(){

        $(document).on('click','[data-action=updateDepartment]',function(e){
            e.preventDefault();
            e.stopPropagation();
            var id = $(this).closest('tr').data('id');
            var name = $(this).closest('tr').find('textarea').val();
            $.get('/updateDepartment',{departmentId:id,departmentName:name},function(data){
                $('#result').html(data.message);
            });
        })

    });

</script>

<%include ../includes/footer.html%>